.AllPosts {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.AllPosts h1 {
  border-bottom: 1px solid #001128;
  margin: 0;
  padding: 1rem;
}

.content {
  box-sizing: border-box;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #c2cff3;
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  padding: 2rem;
  border: 2px solid whitesmoke;
  border-radius: 24px;
}

.card .top {
  display: flex;
  justify-content: space-between;
}

.card .top p {
  border-bottom: 2px inset #535bf2;
  align-self: flex-start;
}

.card:hover {
  cursor: pointer;
  scale: 1.02;
  box-shadow: 0 0 4px whitesmoke;
}

@media (max-width: 1280px) {
  .content {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 840px) {
  .card {
    padding: 1rem;
  }
}

@media (max-width: 460px) {
  .AllPosts {
    font-size: 0.95rem;
  }

  .card h2 {
    margin: 8px;
  }

  .card p {
    margin: 4px;
  }
}
